[package]
name = "replays"
version = "0.1.0"
rust-version.workspace = true
edition.workspace = true

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }

[dev-dependencies]
assert_matches = "1.5.0"
